<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <link rel="shortcut icon" href="party-marker.png">
    <meta name="theme-color" content="#000000">
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style type="text/css">
    h1 {
        color: green;
    }

</style>
    <title>Charlie party App</title>
  </head>
    <body>
        <h1>Hi {{ user_name }}!</h1>
        <p>You have joined <b>{{event_name}}</b> event</p>
        <ul>
        <li>Event: {{event_name}}</li>
        <li>dateStart: {{dateStart}}</li>
        <li>price: {{price}}</li>
         <li>capacityMax: {{capacityMax}}</li>
          <li>free things: {{freeMeal}}</li>
           <li>addressGoogle: {{addressGoogle}}</li>
            <li>addressCustom: {{addressCustom}}</li>
             <li>creatorName: {{creatorName}}</li>
        </ul>
        <img src={{creatorPhoto}} />
    </body>
</html>

