<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
body {
	margin: 0!important;
	padding: 15px;
	background-color: #FFF;
}
.wrapper {
	width: 100%;
	table-layout: fixed;
}
.wrapper-inner {
	width: 100%;
	background-color: #eee;
	max-width: 670px;
	margin: 0 auto;
}
table {
	border-spacing: 0;
	font-family: sans-serif;
	color: #727f80;
}
.outer-table {
	width: 100%;
	max-width: 670px;
	margin: 0 auto;
	background-color: #FFF;
}
td {
    padding: 0;
}
.header {
    background-color: #C2C1C1;
    border-bottom: 3px solid #81B9C3;
}
p {
    margin:0;
}
.header p {
    text-align: center;
    padding: 1%;
    font-weight: 500;
    font-size: 11px;
    text-transform: uppercase;
}
a {
    color: #F1F1F1;
    text-decoration: none;
}
/*--- End Outer Table 1 --*/
.main-table-first {
	width: 100%;
	max-width: 610px;
	margin: 0 auto;
	background-color: #FFF;
	border-radius: 6px;
	margin-top: 25px;
}
/*--- Start Two Column Sections --*/
.two-column {
    text-align: center;
    font-size: 0;
    padding: 5px 0 10px 0;
}
.two-column .section {
    width: 100%;
    max-width: 300px;
    display: inline-block;
    vertical-align: top;
}
.two-column .content {
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
}
.content {
    width: 100%;
    padding-top: 20px;
}
.center {
    display: table;
    margin: 0 auto;
}
img {
    border: 0;
}
img.logo {
    float: left;
    margin-left: 5%;
    max-width: 200px!important;
}
#callout {
    float: right;
    margin: 4% 5% 2% 0;
    height: auto;
    overflow: hidden;
}
#callout img {
    max-width: 20px;
}
.social {
    list-style-type: none;
    margin-top: 1%;
    padding: 0;
}
.social li {
    display: inline-block;
}
.social li img {
    max-width: 15px;
    margin-bottom: 0;
    padding-bottom: 0;
}
/*--- Start Outer Table Banner Image, Text & Button --*/
.image img {
    width: 100%;
    max-width: 670px;
    height: auto;
}
.main-table {
    width: 100%;
    max-width: 610px;
    margin: 0 auto;
    background-color: #FFF;
    border-radius: 6px;
}
.one-column .inner-td {
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
}
.inner-td {
    padding: 10px;
}
.h2 {
    text-align: center;
    font-size: 23px;
    font-weight: 600;
    line-height: 45px;
    margin: 12px;
    color: #4A4A4A;
}
p.center {
    text-align: center;
    max-width: 580px;
    line-height: 24px;
}
.button-holder-center {
    text-align: center;
    margin: 5% 2% 3% 0;
    width: 100%;
}
.button-holder {
    float: right;
    margin: 5% 0 3% 0;
}
.btn {
    font-size: 15px;
    font-weight: 300;
    background: #FDEA03;
    color: #000;
    text-decoration: none;
    padding: 9px 16px;
    border-radius: 28px;
}
/*--- Start Two Column Image & Text Sections --*/
.two-column img {
    width: 100%;
    max-width: 280px;
    height: auto;
}
.two-column .text {
    padding: 10px 0;
}
/*--- Start 3 Column Image & Text Section --*/
.outer-table-2 {
	width: 100%;
	max-width: 670px;
	margin: 22px auto;
	background-color: #C2C1C1;
    border-bottom: 3px solid #81B9C3;
    border-top: 3px solid #81B9C3;
}
.three-column {
    text-align: center;
    font-size: 0;
    padding: 10px 0 30px 0;
}
.three-column .section {
    width: 100%;
    max-width: 200px;
    display: inline-block;
    vertical-align: top;
}
.three-column .content {
    font-size: 16px;
    line-height: 20px;
}
.three-column img {
    width: 100%;
    max-width: 125px;
    height: auto;
}
.outer-table-2 p {
	margin-top: 6px;
	color: #FFF;
	font-size: 18px;
	font-weight: 500;
	line-height: 23px;
}
/*--- Start Two Column Article Section --*/
.outer-table-3 {
    width: 100%;
    max-width: 670px;
    margin: 22px auto;
    background-color: #C2C1C1;
    border-top: 3px solid #81B9C3;
}
.h3 {
	text-align: center;
	font-size: 21px;
	font-weight: 600;
	margin-bottom: 8px;
	color: #4A4A4A;
}
/*--- Start Bottom One Column Section --*/
.inner-bottom {
	padding: 22px;
}
.h1 {
    text-align: center!important;
    font-size: 25px!important;
    font-weight: 600;
    line-height: 45px;
    margin: 12px 0 20px 0;
    color: #4A4A4A;
}
.inner-bottom p {
	font-size: 16px;
	line-height: 24px;
	text-align: justify;
}
/*--- Start Footer Section --*/
.footer {
	width: 100%;
	background-color: #C2C1C1;
	margin: 0 auto;
    color: #FFF;
}
.footer  img {
	max-width: 135px;
	margin: 0 auto;
	display: block;
	padding: 4% 0 1% 0;
}
p.footer {
	text-align: center;
	color: #FFF!important;
	line-height: 30px;
	padding-bottom: 4%;
    text-transform: uppercase;
}
/*--- Media Queries --*/
@media screen and (max-width: 400px) {
	.h1 {
		font-size: 22px;
	}
	.two-column .column, .three-column .column {
		max-width: 100%!important;
	}
	.two-column img {
		width: 100%!important;
	}
	.three-column img {
		max-width: 60%!important;
	}
}
@media screen and (min-width: 401px) and (max-width: 400px) {

	.two-column .column {
		max-width: 50%!important;
	}
	.three-column .column {
		max-width: 33%!important;
}
}
@media screen and (max-width:768px) {
img.logo {
	float:none !important;
	margin-left:0% !important;
	max-width: 200px!important;
}

#callout {
	float:none !important;
	margin: 0% 0% 0% 0;
	height: auto;
	text-align:center;
	overflow: hidden;
}
#callout img {
    max-width:26px !important; 
}
.two-column .section {
	width: 100% !important;
	max-width: 100% !important;
	display: inline-block;
	vertical-align: top;
}

.two-column img {
	width: 100% !important;
 	height: auto !important;
}
img.img-responsive {
   
    height:auto !important;
}
.content {
	width: 100%;
	padding-top:0px !important;
}
}

.ticket table{
    display: inline-block;
    margin-top: 40px;
    background-color: #05A6A6;
        border: 2px solid white;
    border-radius: 10px;
}

.ticket{
    text-align: center;
}

.ticket p{
    color: white;
}

.dark{
    color: lightgrey !important;
}

.td-ticket{
    min-width: 250px;
    max-width: 500px;
    text-align: center;
}
.td-ticket p{
    display: inline-block;
}

.line{
    width: 100%;
    text-align: center;
}

.creator{
    width: 200px;
    text-align: center;
}
.creator img{
    width: 200px;
}
</style>
<script type="text/javascript">


    //var urlEvent = "https://young-retreat-68334.herokuapp.com/event/" + {{eventIdEX}}

//console.log("URLEVENT tt: ", urlEvent)
console.log("EventId: ", {{eventURL}})

</script>
 </head>
<body>
    <div class="wrapper">
    	<div class="wrapper-inner">
    		<table class="outer-table">
    			<tr>
    				<td class="header">
    					<p><a href="https://www.charlieparty.club/" target="_blank">OPEN CHARLIE WEBSITE</a></p>
    				</td>
    			</tr> <!--- End Header -->
            </table> <!--- End Outer Table -->
            <table class="main-table-first">
                <tr>
                    <td class="two-column">
                        <div class="section">
                            <table width="100%">
                                <tr>
                                    <td class="inner-td">
                                        <table class="content">
                                            <tr>
                                                <td align="center">
                                                    <img src="https://res.cloudinary.com/party-images-app/image/upload/v1553663210/ymujcq2eshl8rsa0og34.png" class="logo">
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div> <!--- End First Column of Two Columns -->
                        <div class="section">
                            <table width="100%">
                                <tr>
                                    <td class="inner-td">
                                        <table class="content">
                                            <tr>
                                                <td>
                                                    <div id="callout">
                                                        <ul class="social">
                                                            <li><a ><img src="https://res.cloudinary.com/party-images-app/image/upload/v1553662222/yjfovha63u0ghemmr9md.png"></a></li>
                                                            <li><a ><img src="https://res.cloudinary.com/party-images-app/image/upload/v1553662222/we67lxxkwuf2fphab5bv.png"></a></li>
                                                            <li><a ><img src="https://res.cloudinary.com/party-images-app/image/upload/v1553662225/ershhnhbo8di0hcttwa4.png"></a></li>
                                                            <li><a ><img src="https://res.cloudinary.com/party-images-app/image/upload/v1553662226/hqeghh6byk34d5kiv9xd.png"></a></li>
                                                            <li><a ><img src="https://res.cloudinary.com/party-images-app/image/upload/v1553662222/bxg0ff2gif5deyi7btun.png"></a></li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div> <!--- End Second Column of Two Columns -->
                    </td>
                </tr> <!--- End Two Column Section -->
                </table> <!--- End Main Table -->
            <table class="outer-table">
    			<tr>
    				<td class="image">
    					<img src="https://res.cloudinary.com/party-images-app/image/upload/v1555935832/vsznc5sc8mamq8roae6j.png">
    				</td>
    			</tr> <!--- End Banner -->
            </table> <!--- End Outer Table -->
            <table class="main-table">
    			<tr>
    				<td class="one-column ticket">
    					<table>
    						<tr>
    							<td class="inner-td td-ticket">                           
                                <p class="button-holder-center">
                                    <a class="btn" href={{eventURL}} target="_blank">OPEN EVENT</a>
                                </p>
                                <div class="line"><p class="h2">{{event_name}}</p></div>
                                <div class="line"><p class="dark">DATE</p></div>
                                <div class="line"><p><b>{{dateStart}}</b></p></div>
                                <div class="line"><p class="dark">HOST</p></div>
                                <div class="line"><p class="h4">{{user_name}}</p></div>
                                <div class="line"><p class="dark">DESCRIPTION</p></div>
                                <div class="line"><p>{{description}}</p></div>
                                <div class="line"><p class="dark">ADDRESS</p></div>
                                <div class="line"><p>{{addressGoogle}}</p></div>
                                <div class="line"><p class="dark">PRICE</p></div>
                                <div class="line"><p>{{price}} $</p></div>
    								
    							</td>
    						</tr>

    					</table>
    				</td>
    			</tr> <!--- End Heading, Paragraph & Button Section -->
    			<tr>
    				<td class="two-column">
    					<div class="section">

    					</div> <!--- End First Column of Two Columns -->
    					
                        <!--[if (gte mso 9)|(IE)]>
                        </td><td width="50%" valign="top">
                        <![endif]-->
          <!--- End Second Column of Two Columns -->
                    </td>
                </tr> <!--- End Two Column Section -->
                
            </table> <!--- End Main Table -->
            <table class="outer-table-3">
    			<tr>
    				<td class="one-column">
    					<table width="100%">
    						<tr>
                            
    							<td class="footer">
                                    <a href="https://www.charlieparty.club" target="_blank">
    								<img src="https://res.cloudinary.com/party-images-app/image/upload/v1553663210/ymujcq2eshl8rsa0og34.png">
    								<p class="footer">412 Pitt Street, Haymarket, Sydney 2000<br>&copy; charlie, 2019.<br>More</p>
                                    </a>
    							</td>
                                </a>
    						</tr>
    					</table>
    				</td>
    			</tr>
    		</table> <!--- End Main Table -->
    	</div> <!--- End Wrapper Inner -->
    </div> <!--- End Wrapper -->
    <br>
</body>
</html>